APIKEY="YourAPIKeyHere"
AUTHDOMAIN="your.auth.domain"
PROJECTID="your-project-id"
STORAGEBUKCET="your.storage.bucket"
MESSAGINGSENDERID="your_messaging_sender_id"
APPID="your_app_id"
MEASURMENTID="your_measurement_id"
